/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:focus, select:focus {
    outline: none;
}

/* ------------------------------------------- basic skeleton ------------------------------------------------- */

body {
    background-color: whitesmoke;
}

.main {
    padding: 25px;
}

:root {
    --caveatfamily: "Caveat Brush", "Times New Roman";
}

/* -------------------------navbar------------------- */
.navbar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 40px;
    padding: 16px;
}

.navbar h1 {
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--caveatfamily);
}

.navbar button {
    padding: 1.1rem 2.3rem;
    border-radius: 5px;
    border: none;
    background-color: rgb(42, 28, 54);
    font-size: 1rem;
    color: white;
    font-weight: bold;
}

.navbar button:hover {
    transform: scale(1.06);
}

.navbar input {
    min-width: 0;
    flex: 1;
    border: none;
    font-weight: 300;
    padding: 16px;
    border-radius: 8px;
    outline: 0;
    font-size: 1rem;
}

/* -------------------------filterbar------------------- */
.filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 120px;
    margin-top: 20px;
    margin-right: 20px;
}

.filter > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropdown select{
    font-size: 1rem;
    padding: 8px;
    border: none;
    background: none;
    min-width: 20px;
    width: 140px;
}

/* -------------------------book-content------------------- */
/* .book-container {
    text-align: center;
    margin-top: 40px;
    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;

}

#quote {
    font-size: 3rem;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 300px;
    font-family: "Sans Serif", "Times New Roman", "Roboto";
    color: rgb(59, 58, 58);

}

#quote-author{
    margin-top: 30px;
    font-size: 2rem;
    color: rgb(59, 58, 58);
} */

/*-----------basic-book-skeleton------------*/
.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 70px;
    row-gap: 30px;
    margin-top: 20px;
}

.book {
    width: 100%;
    height: 280px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    padding: 20px;
    background-color: rgb(42, 28, 54);
    border-radius: 15px;
    gap: 40px;
    background-image: url(imgs/sparkle-65.gif);
}

.book-cover {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    background-color: black;
}

.book-info h2 {
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.book-info {
    margin-left: 5px;
    display: grid;
}

.book-info button {
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: black;
    color:aliceblue;
}

.book-min-info {
    margin-left: 4px;
    font-size: 1.2rem;
    color:rgb(231, 231, 231);
}

.main-info {
    display: flex;
    justify-content: space-between;
}

.main-info > div > svg:hover, .main-info > div > img:hover {
    transform: scale(1.17);
    fill: red;
}

/* ------------------------------------------- end of basic skeleton ------------------------------------------------- */

dialog {
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(222, 247, 247);
    width: 40vw;
    height: 80vh;
}

#form-dialog {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: flex-start;
    height: 60vh;
}

#form-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 25px;
}

#questions > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.4rem;
}

#questions > div > input, #questions > div > select {
    border: none;
    font-size: 1.3rem;
    border-bottom: 2px solid black;
    color:black;
    background-color: rgb(222, 247, 247);
    margin-top: 15px;
}

menu {
    display: flex;
    justify-content: space-between;
}

#closeDialogBtn, #save {
    padding: 1rem;
    width: 290px;
    border-radius: 15px;
    border: none;
    color: aliceblue;
    font-weight: bold;
}

#closeDialogBtn:hover, #save:hover {
    transform: scale(1.07);
}

#save {
    margin-right: 15px;
    background-color: rgb(138, 193, 193);
}

#closeDialogBtn {
    margin-left: 15px;
    background-color: rgb(235, 164, 164);
}



